body{
	background-color: #ECECEC;
}
form {
    margin: 0;
    background-color: transparent;
}

form label {
    color: #157EFB;
}
.content-card{
	border: transparent;
}
#btn-planit {
    margin-top: 1rem;
    color: #FFF;
    font-size: 1.5rem;
    font-weight: 600;
    background-color: #157EFB; 
}

#btn-planit:active {
    background-color: blue;
}