.event {
  border: 1px solid rgba(0,0,0,0.1);
  border-bottom: 1px solid rgba(0,0,0,0.2);
  box-shadow: 0 0.3rem 1rem -0.1rem rgba(0,0,0,0.07);
  border-radius: 1rem;
}

.event + .event {
	margin-top: .5rem;
}

.eventinfo>.eventinfo-time {
	padding: 1rem;
}

.eventinfo>.eventinfo-label,
.eventinfo>.eventinfo-description,
.eventinfo>.eventinfo-going {
	border-top: 1px solid rgba(0,0,0,0.2);
	padding: 1rem;
}
.eventinfo-time{
	color: white;
	background-color: #157EFB;
	border-top-right-radius: 1rem;
	border-top-left-radius: 1rem;
}

.eventinfo-time>*,
.eventinfo-label>* {
	margin-bottom: 0;
}

.eventinfo-date {
	font-weight: 600;
}

.eventinfo-range {
	font-size: 1.5rem;
}

.eventinfo-description>p {
	margin-bottom: 0;
}