body {
  background-color: #efefff;
}

#app-nav {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 100000;
  background-color: lightcyan;
  box-shadow: 0 0 0.1rem 0 rgba(0,0,0,0.2);
}

#app-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 0 1rem;
  height: 4rem;
  z-index: 10000;
  line-height: 4rem;
  background-color: lightcyan;
  box-shadow: 0 0 0.1rem 0 rgba(0,0,0,0.2);
}

.app-title {
  font-size: 1.5rem;
  margin: 0;
  text-align: center;
  font-weight: 600;
}

#app-content {
  margin: 4rem 0;
  padding: 0 0.5rem;
}

/* Adding info for the profile page */ 

.boxed {
  background: #D8D8D8;
  border: 1px solid #979797;
  border-radius: 17px;
  height: 89px;
  width: 539px;
  position: fixed;
  left: 20%;
}
.boxed p{
font-family: Roboto-Light;
font-size: 40px;
color: #000000;
position: relative;
left: 36%;
top:18%;
}
.userinfo h2{
  position: relative;
  left:44%;
}
hr.style1{
  position: relative;
  top: 28%;
  border-style: solid; 
  border-color: #8c8b8b; 
}
hr.style2{
  position: relative;
  top: 100%;
  border-style: solid; 
  border-color: #8c8b8b; 
}
.boxed2 {
  background: #D8D8D8;
  border: 1px solid #979797;
  border-radius: 17px;
  height: 89px;
  width: 539px;
  position: fixed;
  left: 20%;
  top: 30%;
}
.boxed2 a {
font-family: Roboto-Light;
font-size: 40px;
color: #000000;
position: absolute;
left: 20%;
top:20%;
}

.boxed3 {
  background: #D8D8D8;
  border: 1px solid #979797;
  border-radius: 17px;
  height: 289px;
  width: 539px;
  position: absolute;
  left: 20%;
  top: 45%;
}

.boxed3 h2{
  position: absolute;
  left:34%;
}
.boxed3 li{
  position: relative;
  top:20%;
  font-family: Roboto-Regular;
  font-size: 25px;
  list-style:none;
  text-align:center;
}