.grpplans>div {
  border-top: 1px solid rgba(0,0,0,0.1);
}

.carousel {
  position: relative;
}

.carousel-wrapper {
  position: relative;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
}

.carousel-wrapper>div {
  display: inline-block;
  padding: 1rem 1rem 1rem 1rem;
}

.carousel-fade {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 10%;
  z-index: 100;
  background: linear-gradient(to left, #fff , rgba(0,0,0,0));
}

.carousel-content {
  padding: 0;
  margin: 0;
  display: flex;
}

.carousel-content>li {
  display: block;
}

.carousel-content>li + li {
  margin-left: 0.7em;
}

.plan-link:hover {
  text-decoration: none;
}

.plan {
  background-color: #fff;
  border: 1px solid rgba(0,0,0,0.1);
  border-bottom: 1px solid rgba(0,0,0,0.2);
  box-shadow: 0 0.3rem 1rem 0 rgba(0,0,0,0.07);
  border-radius: 1rem;
	transition: all 0.1s ease-in-out;
}

.plan:hover {
	box-shadow: 0 0.4rem 1.1rem 0 rgba(0,0,0,0.05);
	transform: scale(1.02);
}

.plan>header {
  padding: 0.7rem 1rem;
  padding-bottom: 0;
}

.plan>header>h6 {
  margin: 0;
}

.plan-body {
  padding: 0 1rem 1rem 1rem;
}

.plan-body>.plan-range {
  font-size: 2rem;
}

.plan-body>.plan-avail {
  margin: 0;
}