html, body {
  background-color: white;
  height: 100%;
  margin: 0;
  padding: 0;
  position: absolute;
  width: 100%;
}

main {
  padding-top: 4rem;
}

.login-form {
  width: 75%;
  margin: 4rem auto;
}

.login-formcontrol {
  position: relative;
}

.login-input {
  outline: transparent;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #CCC;
  color: #555;
  font-size: 1.2rem;
  padding: 10px 0px;
  width: 100%;
  height: 3rem;
}

.login-input::-webkit-input-placeholder {
  color: #AAA;
}

.login-input:focus::-webkit-input-placeholder {
  color: #157EFB;
}

.login-input:focus+.underline {
  transform: scale(1);
}

.underline {
  position: absolute;
  background-color: #157EFB;
  display: inline-block;
  height: 2px;
  width: 100%;
  top: 2.9rem;
  -webkit-transform: scale(0, 1);
  transform: scale(0, 1);
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.login-submit {
  margin-top: 2rem;
}

.login-submit>span {
  font-weight: 600;
  font-size: 1.5rem;
  color: #fff;
  letter-spacing: 0.01em;
}

aside {
  margin: 0 auto;
  width: fit-content;
}

.facebook
{
  margin: 1rem auto;
  width: fit-content;
}