.navbar {
	display: flex;
	height: 4rem;
	box-shadow: 0 0 0.1rem 0 rgba(0,0,0,0.2);
	font-size: 0.75rem;
}

.navbar-item {
	flex: 1;
	height: inherit;
}

.navbar-link {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: inherit;
	color: #333;
}

.navbar-link:hover {
	text-decoration: none;
}

.navbar-link>p {
	margin-top: 0.2em;
	margin-bottom: 0;
}

.navbar-link.active {
	color: #007bff;
}