.navbar{
	background-color: white;
	overflow: hidden;
	position: fixed;
	bottom: 0;
	width: 100%;
}
.navbar a {
	display: block;
	color: #333;
	text-align:center;
	padding: 0.5rem 1rem;
	text-decoration: none;
	font-size: 0.75rem;
}
.navbar a:hover {
	background-color: #ddd;
	color: black;
}
.navbar a.active {
	background-color: #4CAF50;
	color: white;
}