<div class="grplist-item">
	<header>
		<a class="grplist-link" href="/groups/{{id}}">
			<h3>{{name}}</h3>
			<i data-feather="arrow-right"></i>
		</a>
	</header>
	<div>
		{{#if joined}}
		Joined<i style="stroke:green" data-feather="check"></i>
		{{else}}
		Not a member
		{{/if}}
	</div>
</div>