{{#> layouts/app page-title="Events" sub="Create Event" back-page="events"}} {{!-- Going to add css to head block later --}}
	{{#*inline "head-block"}}
	<link rel="stylesheet" type="text/css" href="/css/createEvent.css">
	{{/inline}}

	{{!-- The main block for content --}}

	{{#*inline "main-block"}}
	{{!-- Form Creation --}}
	<div class="content-card">
		<form id="myForm" class="content-card-body" autocomplete="off" role="form" method="get" action="/create">
			<p class="form-group">
				<label for="group">Group</label>
				<select class="form-control" name="group" id="group">
					<option disabled selected>Select a group</option>
					{{#each groups}}
					<option value="{{name}}">{{name}}</option>
					{{/each}}
				</select>
			</p>
			<p class="form-group">
				<label for="title">Title</label>
				<input class="form-control" type="text" name="title" id="title" placeholder="Name"></input>
			</p>
			<p class="form-group">
				<label for="date">Date</label>
				<input class="form-control" type="date" name="date" id="date" placeholder="Date"></input>
			</p>
			<div class="form-row">
				<p class="form-group col">
					<label for="startt">Start Time</label>
					<input type="time" name="startt" class="form-control" placeholder="Start Time" id="startt"></input>
				</p>
				<p class="form-group col">
					<label for="endt">End Time</label>
					<input type="time" name="endt" class="form-control" placeholder="End Time" id="endt"></input>
				</p>
			</div>
			<p class="form-group">
				<label for="description">Description</label>
				<textarea class="form-control" name="description" placeholder="Description" id="description"></textarea>
			</p>
			<input class="btn btn-block" id="btn-planit" type="submit" value="Planit"></input>
		</form>
	</div>	
	{{/inline}}

	{{#*inline "scripts-block"}}
	<script type="application/javascript" src="/js/addevent.js"></script>
	{{/inline}}
{{/layouts/app}}