{{#> layouts/app page-title="Events" sub="Create Event" back-page="Events"}} {{!-- Going to add css to head block later --}}
	{{#*inline "head-block"}}
	<link rel="stylesheet" type="text/css" href="/css/createEvent.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js" type ="text/javascript"></script>
	<script type="text/javascript" src="/js/eventCreation.js"></script>
	{{/inline}}

	{{!-- The main block for content --}}

	{{#*inline "main-block"}}
	{{!-- Form Creation --}}
	<br>
	<form id = "myForm" class="myForm" autocomplete="off" method="post">
		<select class="form-control" id="group">
			<option disabled selected>Select a group</option>
			{{#each groups}}
			<option value="{{name}}">{{name}}</option>
			{{/each}}
		</select>
		<br>
		<p>
			<input class="form-control" for="name" placeholder="Name" type="text" id="title"></input>
		</p>
		<p>
			<input class="form-control" placeholder="Day" type="text" id="Day"></input>
		</p>
		<div class = "b">
			 <p>
				<label for="start">Start Time</label>
				<input type = "time" name="start" class = "form-control" placeholder="Start Time" type="text" id="start"></input>
			</p>
		</div>
		<div class = "b">
			<p>
				<label for="end">End Time</label>
				<input type = "time" name="end" class = "form-control" placeholder="End Time" type="text" id="start"></input>
			</p>
		</div>
		<p>
			<input class="form-control" placeholder="Description" type="text" id="description"></input>
		</p>
		<input class="btn" id="btn" type="submit">
			<!--<a href="/plans" >Planit</a>-->
			Planit
		</input>
	</form>
	{{/inline}}

	{{#*inline "scripts-block"}}
	<script type="application/javascript" src="/js/addevent.js"></script>
	{{/inline}}
{{/layouts/app}}