{{#> layouts/app page-title="Events" sub="Create Event" back-page="Events"}} {{!-- Going to add css to head block later --}}
	{{#*inline "head-block"}}
	<link rel="stylesheet" type="text/css" href="/css/createEvent.css">
	{{/inline}}

	{{!-- The main block for content --}}

	{{#*inline "main-block"}}
	{{!-- Form Creation --}}
	<form class="loginbox" autocomplete="off">
		<select class="form-control" id="group">
			<option disabled selected>Click here to select a group</option>
			{{#each groups}}
			<option value="{{name}}">{{name}}</option>
			{{/each}}
		</select>
		<p>
			<input class="form-control" placeholder="Name" type="text" id="title"></input>
		</p>
		<p>
			<input class="form-control" placeholder="Day" type="text" id="Day"></input>
		</p>
		<p>
			<input class="form-control" placeholder="Time" type="text" id="start"></input>
		</p>
		<p>
			<input class="form-control" placeholder="Location" type="text" id="location"></input>
		</p>
		<p>
			<input class="form-control" placeholder="Description" type="text" id="description"></input>
		</p>
		<button class="btn" id="planit">
			<a href="/plans">Planit</a>
		</button>
	</form>
	{{/inline}}

	{{#*inline "scripts-block"}}
	<script type="application/javascript" src="/js/addevent.js"></script>
	{{/inline}}
{{/layouts/app}}