{{!-- pages/events --}}

{{#> layouts/app page-title="Events"}}

	{{!-- Going to add css to head block later --}}
	{{#*inline "head-block"}}
	<link rel="stylesheet" type="text/css" href="/css/events.css">
	{{/inline}}

	{{!-- The main block for content --}}
	{{#*inline "main-block"}}
	<div class="content-card">
		<div class="fab"> 
			<a href="/eventCreation">
				<i data-feather="plus"></i> 
			</a>
		</div>

		<div class="content-card-body">
			{{#each groups}}
				{{> includes/group-events}}
			{{/each}}
		</div>
	</div>
	{{/inline}}

{{/layouts/app}}