{{#> layouts/app page-title="Events"}}

	{{!-- Going to add css to head block later --}}
	{{#*inline "head-block"}}
	<link rel="stylesheet" type="text/css" href="/css/createEvent.css">
	{{/inline}}

	{{!-- The main block for content --}}
	{{#*inline "main-block"}}
	
	{{!-- Upper Titles --}}
	<div class="titles">
		<a href="javascript:history.back()">Back</a>
		<h2>Create an Event</h2>
		<hr> 
	</div>

	{{!-- Form Creation --}}
	
	{{/inline}}

{{/layouts/app}}
