{{#> layouts/app page-title="Events"}}

	{{!-- Going to add css to head block later --}}
	{{#*inline "head-block"}}
	<link rel="stylesheet" type="text/css" href="/css/createEvent.css">
	{{/inline}}

	{{!-- The main block for content --}}
	{{#*inline "main-block"}}
	
	{{!-- Upper Titles --}}
	<div class="titles">
		<a href="javascript:history.back()">Back</a>
		<h2>Create an Event</h2>
		<hr> 
	</div>

	{{!-- Form Creation --}}
	<form class="loginbox" autocomplete="off">
   		<select class="form-control" id="group">
      		<option value="" disabled selected>Click here to select a group</option>
      		<option>CSE120</option>
      		<option>Squad</option>
      		<option>Lorem Ipsum</option>
    	</select><br>
   		<input placeholder="Name" type="text" id="title"></input><br>
    	<input placeholder="Day" type="text" id="Day"></input><br>
		<input placeholder="Time" type="texform-controlt" id="start"></input><br>
    	<input placeholder="Location" type="text" id="location"></input><br>
		<input placeholder="Description" type="text" id="description"></input><br>
		<button id="planit">
			<a href="/plans">Planit</a>
		</button>
	</form>
	{{/inline}}

{{/layouts/app}}
