{{#> layouts/app page-title="Events" sub="Create Event" back-page=back}} {{!-- Going to add css to head block later --}}
	{{#*inline "head-block"}}
	<link rel="stylesheet" type="text/css" href="/css/createEvent.css">
	{{/inline}}

	{{!-- The main block for content --}}

	{{#*inline "main-block"}}
	{{!-- Form Creation --}}
	<div class="content-card">
		<form class="needs-validation content-card-body"role="form" method="post" action="/create" novalidate>
			<div class="form-group">
				<label for="group">Group</label>
				<select class="form-control" name="group" id="group" required>
					<option disabled selected>Select a group</option>
					{{#each groups}}
					<option value="{{name}}">{{name}}</option>
					{{/each}}
				</select>
				<div class="invalid-feedback">Please choose a group.</div>
			</div>
			<div class="form-group">
				<label for="title">Title</label>
				<input class="form-control" type="text" name="title" id="title" placeholder="Name" required></input>
				<div class="invalid-feedback">Please specify an event title.</div>
			</div>
			<div class="form-group">
				<label for="date">Date</label>
				<input class="form-control" type="date" name="date" id="date" placeholder="Date" required></input>
				<div class="invalid-feedback">Please specify a date.</div>
			</div>
			<div class="form-row">
				<div class="form-group col">
					<label for="startt">Start Time</label>
					<input type="time" name="startt" class="form-control"id="startt" required></input>
					<div class="invalid-feedback">Please specify a start time.</div>
				</div>
				<div class="form-group col">
					<label for="endt">End Time</label>
					<input type="time" name="endt" class="form-control" id="endt" required></input>
					<div class="invalid-feedback">Please specify an end time.</div>
				</div>
			</div>
			<div class="form-group">
				<label for="description">Description</label>
				<textarea class="form-control" name="description" placeholder="Description" id="description" required></textarea>
				<div class="invalid-feedback">Please provide an event description.</div>
			</div>
			<input class="btn btn-block" id="btn-planit" type="submit" value="Planit"></input>
		</form>
	</div>	
	{{/inline}}

	{{#*inline "scripts-block"}}
	<script type="text/javascript" src="/js/addevent.js"></script>
	{{/inline}}
{{/layouts/app}}