{{!-- pages/events --}}

{{#> layouts/app page-title="Events"}}

	{{!-- Going to add css to head block later --}}
	{{#*inline "head-block"}}
	<link rel="stylesheet" type="text/css" href="/css/events.css">
	{{/inline}}

	{{!-- The main block for content --}}
	{{#*inline "main-block"}}
	{{> includes/fab page="eventCreation"}}
	<div class="content-card">
		<div class="content-card-body">
			{{#each groups}}
				{{#if_in id (lookup (lookup ../users ../current_user) 'groups')}}
					{{#each events}}
						{{> includes/group-events groupname=../name}}
					{{/each}}
				{{/if_in}}
			{{/each}}
		</div>
	</div>
	{{/inline}}

{{/layouts/app}}