{{#> layouts/app page-title="Groups" sub=group.name back-page="Groups"}}

	{{#*inline "main-block"}}
	<link rel="stylesheet" type="text/css" href="/css/groups.css">
	{{/inline}}
	{{#*inline "main-block"}}
	<div class= "titles">
		<a href="javascript:history.back()">Back</a>
		<h2>Group Info</h2>
		<hr> 
	</div>

{{/layouts/app}}