{{!-- pages/groups --}}

{{#> layouts/app page-title="Groups"}}

	{{#*inline "head-block"}}
	<link rel="stylesheet" type="text/css" href="/css/groups.css">
	{{/inline}}

	{{#*inline "main-block"}}
	{{> includes/fab page="groupCreation"}}
	<div class="content-card grplist">
		{{#each groups}}
			{{>includes/group-listitem root=..}}
		{{/each}}
	</div>
	{{/inline}}

{{/layouts/app}}