{{#> layouts/app page-title="Groups" sub=group.name back-page="Groups" back-url="/Groups"}}

	{{#*inline "head-block"}}
	<link rel="stylesheet" type="text/css" href="/css/groups.css">
	{{/inline}}
	{{#*inline "main-block"}}
	<div class= "titles">
		<h2>Suggested Times</h2>
		<hr> 
	</div>
	<div>
		{{> includes/group-info}}
	</div>
	<div>
		{{#each groups.members}}
			{{friends.[this].name}}
		{{/each}}
	</div>	
	{{/inline}}

{{/layouts/app}}