{{#> layouts/base title="Login"}}

{{#*inline "head-block"}}
<link rel="stylesheet" type="text/css" href="/css/login.css">
<script type="text/javascript" src="/js/index.js"></script>

	<h1>Planitary</h1>
	<div id="rect"></div>

{{/inline}}
{{#*inline "main-block"}}
	<section class="Wizard of Oz">
		<p class="valid">Valid. Please wait a moment.</p>
		<p class="error">Error. Please enter correct Username &amp; password.</p>
		<form class="loginbox" autocomplete="off">
			<input placeholder="Username" type="text" id="username"></input>
			<br>
			<input placeholder="Password" type="password" id="password"></input>
			<br>
			<button id="submit">Login</button>
		</form>
	</section>

	<!-- Facebook Login --> 
 	<script>
 	 window.fbAsyncInit = function() {
    FB.init({
      appId      : '1987964304798327',
      cookie     : true,
      xfbml      : true,
      version    : 'v2.8'
    });
      
    FB.AppEvents.logPageView();   
      
  };

  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "https://connect.facebook.net/en_US/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));
</script>
<script src="/js/facebook.js"></script>
<div class = "butns"> 
	<fb:login-button scope="public_profile,email" onlogin="checkLoginState();">
	</fb:login-button>
</div>
{{/inline}}
{{/layouts/base}}
