{{#> layouts/base title="Login"}}

{{#*inline "head-block"}}
<link rel="stylesheet" type="text/css" href="/css/login.css">
<script type="text/javascript" src="/js/index.js"></script>

	<h1>Planitary</h1>
	<div id="rect"></div>

{{/inline}}
{{#*inline "main-block"}}
	<section class="Wizard of Oz">
  		<p class="valid">Valid. Please wait a moment.</p>
 		<p class="error">Error. Please enter correct Username &amp; password.</p>
 		<form class="loginbox" autocomplete="off">
   			<input placeholder="Username" type="text" id="username"></input><br>
    		<input placeholder="Password" type="password" id="password"></input><br>
			<button id="submit">Login</button>
		</form>
	</section>
{{/inline}}
{{/layouts/base}}
