{{!-- pages/plans --}}

{{#> layouts/app page-title="Plans"}}

	{{#*inline "main-block"}}

		{{#each groups}}
			<div class="grpplans">
				<header>
    			<h3>{{name}}</h3>
  			</header>
				<div>
				{{> includes/group-plans}}
				</div>
			</div>
		{{/each}}
	{{/inline}}

{{/layouts/app}}