{{#> layouts/app page-title="Settings"}}
	{{#*inline "head-block"}}
	<link rel="stylesheet" type="text/css" href="/css/settings.css">
	<script type="text/javascript" src="/js/index.js"></script>
	{{/inline}}

	{{#*inline "main-block"}}

	<div class="content-card">
		<header>
			<h3>Calendar Settings</h3>
		</header>
		<section class="content-card-body border-top">
			<form>
				<p class="form-group">
					<input class="form-control-file inputfile" type="file" name="calendar" id="calendar">
					<label for="calendar" class="btn btn-block btn-primary">
						<i class="feather-icon" data-feather="upload"></i>
						<span>Choose iCal File</span>
					</label>
				</p>
				<button type="submit" id="ical-upload" class="btn btn-block btn-primary" disabled>Upload</button>
			</form>
		</section>
	</div>

	<div class="content-card">
		<section class="content-card-body">
			<a class="btn btn-block btn-secondary" href="/">Log Out</a>
		</section>
	</div>

	{{/inline}}

	{{#*inline "scripts-block"}}
	<script type="text/javascript" src="/js/settings.js"></script>
	{{/inline}}
{{/layouts/app}}  