{{#> layouts/app page-title="Profile"}}
	{{#*inline "head-block"}}
	{{!--<link rel="stylesheet" type="text/css" href="/css/login.css">--}}
	<script type="text/javascript" src="/js/index.js"></script>
	{{/inline}}

	{{#*inline "main-block"}}


	<div>
		<header>
			<h2>Security Settings</h2>
		</header>
		<section>
			<form>
				<h3>Password</h3>
				<p class="form-group">
					<label for="ch-password">New Password</label>
					<input class="form-control" type="password" name="ch-password" id="ch-password" placeholder="New Password" required>
				</p>
				<p class="form-group">
					<label for="ch-password-confirm">Confirm Password</label>
					<input class="form-control" type="password" name="ch-password-confirm" id="ch-password-confirm" placeholder="Confirm Password" required>
				</p>
				<input class="btn" type="button" id="new-password-submit" value="Change Password">
			</form>
		</section>
	</div>

	<div>
		<header>
			<h2>Calendar Settings</h2>
		</header>
		<section>
			<form>
				<h3>Add Calendar</h3>
				<p class="form-group">
					<label for="calendar">iCal File</label>
					<input class="form-control-file" type="file" name="calendar" id="calendar">
					<label for 
				</p>
			</form>
		</section>
	</div>



<!--
	{{!-- Username Form --}}
	<div class="userinfo">
		<h2> Username </h2>
		<div class="boxed">
			<p> cogs120 </p>
			<hr class="style1">
		</div>
	</div>
	{{!-- Change Password --}}
	<div class="boxed2">
		<a href="/">Change Password</a>
		<hr class="style2">
	</div>
	{{!-- Remove from Group --}}
	<div class="boxed3">
		<h2> Remove a group </h2>
		{{!-- Each Block --}}
		{{#each groups}}
		<li>{{name}}</li>
		{{/each}}
	</div>-->

	{{/inline}}

{{/layouts/app}}  