<!--
<html>
<head>
	<title>Settings | Planitary</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
	<header>
		<a href="#" style="visibility:hidden">Back</a>
		<h1>Planitary</h1>
		<a href="/">Log Out</a>
	</header>
	<main>
		<h2>Settings</h2>
	</main>
	<footer>
		<nav>
			{{#each pages}}
			<a href="{{link}}">
				<img src="/icons/{{icon}}" alt="{{title}} Page">
				<p>{{title}}</p>
			</a>
			{{/each}}
		</nav>
	</footer>
</body>
</html> -->
{{#> layouts/app page-title="Profile"}}

{{#*inline "head-block"}}
<link rel="stylesheet" type="text/css" href="/css/login.css">
<script type="text/javascript" src="/js/index.js"></script>

{{/inline}}
{{#*inline "main-block"}}
<main id="app-content">
	<!-- Username Form --> 
<div class="userinfo">
	<h2> Username </h2>
	<div class="boxed">
		<p> cogs120 </p>
		<hr class="style1">
	</div>
</div>
	<!-- Change password -->
</main>

{{/inline}}
{{/layouts/app}}  