<html>
<head>
	<title>Sign Up | Planitary</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
	<a href="/plans">Create Account</a>
	<a href="/index">Cancel</a>
</body>
</html>
