{{#> layouts/base title="Login"}}

{{! The head Block }}
{{#*inline "head-block"}}
<link rel="stylesheet" type="text/css" href="/css/signup.css">
<!--===============================================================================================-->
{{/inline}}
{{! Ending of the head block}}

{{! Starting of the header block}}
{{#*inline "header-block"}}
 <header id="app-header">
    <div>
      <p class="app-title">Signup</p>
    </div>
  </header>
{{/inline}}
{{! Ending of the header block}}

{{! Starting of the main block}}
{{#*inline "main-block"}}
  <main>
    <a class="back-btn" href="/"><i data-feather="arrow-left"></i><span>Back to login</span></a>

    {{! The Input Wrapper}}
    <form class="signup-form" action="/upload-signup" method="POST" enctype="multipart/form-data">
      <p class="signup-formcontrol">
        <input class="signup-input" placeholder="First Name" type="text" >
        <span class="underline"></span>
      </p>
      <p class="signup-formcontrol">
        <input class="signup-input" placeholder="Last Name" type="text" >
        <span class="underline"></span>
      </p>
      <p class="signup-formcontrol">
        <input class="signup-input" placeholder="Username" type="text" >
        <span class="underline"></span>
      </p>
      <p class="signup-formcontrol">
        <input class="signup-input" placeholder="Password" type="password" >
        <span class="underline"></span>
      </p>
      <p class="form-group" style="margin-top:2rem">
        <input class="form-control-file inputfile" type="file" name="calendar" id="calendar" accept=".ics,.ical,.ifb,.icalendar">
        <label for="calendar" class="btn btn-blk btn-primary">
          <i class="feather-icon" data-feather="upload"></i>
          <span>Choose iCal File</span>
        </label>
      </p>
      <button type="submit" id="ical-upload" class="btn btn-block btn-primary signup-submit" disabled>
        <span>Upload and Sign Up</span>
      </button>
    </form>
  </main>
{{/inline}}

{{#*inline "scripts-block"}}
<script type="text/javascript" src="/js/settings.js"></script>
{{/inline}}
{{! Ending of the main block}}
{{/layouts/base}}