{{!--  --}}

<html>

<head>
	<title>
		{{#if sub-title}}{{sub-title}} | {{else}}{{#if title}}{{title}} | {{/if}}{{/if}}Planitary
  </title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="/css/bootstrap/bootstrap.min.css">
	{{#if viewAlt}}
		<link rel="stylesheet" type="text/css" href="/css/general_B.css">
	{{else}}
	<link rel="stylesheet" type="text/css" href="/css/general.css">
	{{/if}}
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js" type ="text/javascript"></script>
	<script type="text/javascript" src="/js/feather.min.js"></script>

	{{#> head-block}}
		{{!-- Custom <head> content --}}
	{{/head-block}}
</head>

<body>
	{{#> header-block}}
		{{!-- Header Content --}}
	{{/header-block}}

	{{#> main-block}}
		{{!-- Main Content --}}
	{{/main-block}}

	{{#> footer-block}}
		{{!-- Footer Content --}}
	{{/footer-block}}
  
	<script>feather.replace()</script>
	{{#> scripts-block}}
		{{!-- Custom scripts --}}
	{{/scripts-block}}
</body>
</html>